.content {
  max-width: 1700px;
  margin: 50px auto 0 auto;

  .mat-cards-actions {
    display: flex;
    justify-content: space-between;
    margin: 30px;

    button {
      width: 160px;
      height: 42px;
      font-size: 18px;
      border-radius: 7px;
      box-shadow: inherit;
    }
  }
}

.mat-card-post {
  width: 700px;
  background: #f1f1f1;
  height: 230px;
  padding: 35px;
  border-radius: 10px;
  margin: 20px 0 20px 0;

  .visit-url {
    cursor: pointer;
  }
}

.content {
  .posts {
    display: flex;
    align-items: center;
    justify-content: center;

    .cards-posts {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-around;
    }

    .title {
      text-align: center;
      margin: 0 10px 45px 0;
      font-size: 26px;
    }

    .mat-cards-subtitles {
      display: flex;
      justify-content: space-between;
      margin: 15px 0 20px 0;

      .subtitle {
        font-size: 16px;
      }
    }

    .cards-content {
      font-size: 16px;
    }
  }

  ::ng-deep .mat-card-header .mat-card-header-text{
    margin: 0;
  }

  .mat-card-title {
    font-size: 28px;
  }
}

@media only screen and (max-width: 1700px) {
  .mat-card-post {
    width: 600px;
    height: 260px;
  }
}

@media only screen and (max-width: 1450px) {
  .mat-card-post {
    width: 500px;
    height: 280px;
  }
}

@media only screen and (max-width: 1200px) {
  .mat-card-post {
    width: 380px;
    height: 350px;
  }
}

@media only screen and (max-width: 950px) {
  .content {
    .mat-cards-actions {
      display: flex;
      margin: 30px;
      flex-direction: column;
      align-items: center;
    }
  }

  .mat-card-post {
    width: 480px;
    height: 280px;
  }
}

@media only screen and (max-width: 550px) {
  .mat-card-post {
    width: 280px;
    height: 420px;
  }
}

@media only screen and (max-width: 400px) {
  .mat-card-post {
    width: 200px;
    height: 550px;
  }
}
