.user-content {
  width: 1700px;
  margin: auto;
}

.profil, .subscription {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5em;

  .title {
    text-align: center;
    margin: 0 10px 45px 0;
    font-size: 26px;
  }

  .submit-button {
    text-align: center;
    margin: 20px 0 0 0;

    button {
      width: 130px;
      height: 38px;
      font-size: 16px;
    }
  }
}

input {
  padding: 10px;
  border-radius: 5px;
  border: solid 1px blue;
  margin: 3px 0 20px 0;
  width: 250px;
  height: 22px;
}

.save-btn {
  margin: 20px;
  text-align: center;

  button {
    box-shadow: inherit;
    font-size: 16px;
    color: red;
  }
}

::ng-deep .mat-card-header .mat-card-header-text{
  margin: 0;
}

.cards-subscriptions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;

  .mat-card-actions {
    text-align: center;
  }

  .submit-unsubscribe {
    width: 160px;
    height: 42px;
    font-size: 18px;
    border-radius: 7px;
  }

  .mat-card-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

.mat-card-subscription {
  width: 700px;
  background: #f1f1f1;
  height: 170px;
  padding: 35px;
  border-radius: 10px;
  margin: 20px 0 20px 0;
}

@media only screen and (max-width: 1700px) {
  .user-content {
    width: 1500px;
  }

  .mat-card-subscription {
    width: 600px;
    height: 180px;
  }
  .mat-card-content {
    height: 70px;
  }
}

@media only screen and (max-width: 1450px) {
  .user-content {
    width: 1250px;
  }

  .mat-card-subscription {
    width: 500px;
    height: 195px;
  }
  .mat-card-content {
    height: 90px;
  }
}

@media only screen and (max-width: 1200px) {
  .user-content {
    width: 1000px;
  }

  .mat-card-subscription {
    width: 375px;
    height: 210px;
  }
  .mat-card-content {
    height: 110px;
  }
}

@media only screen and (max-width: 950px) {
  .user-content {
    width: 600px;
  }

  .mat-card-subscription {
    width: 450px;
    height: 200px;
  }
  .mat-card-content {
    height: 95px;
  }
}

@media only screen and (max-width: 550px) {
  .user-content {
    width: 400px;
  }

  .mat-card-subscription {
    width: 320px;
    height: 230px;
  }
  .mat-card-content {
    height: 125px;
  }
}

@media only screen and (max-width: 400px) {
  .user-content {
    width: 300px;
  }

  .mat-card-subscription {
    width: 260px;
    height: 260px;
  }
  .mat-card-content {
    height: 155px;
  }
}
